*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
    background: #EEE
}

    #str {
   width: 800px;
   padding: 20px;
   height: auto;
   font-family: sans-serif;
   font-size: 40px;
   margin: 150px auto;
   color: #fff;
   font-weight: bold;
   background: #000;
   text-align: center;
   border-radius: 20px;
}

.button {
    border-radius: 20px;
    background-color: #000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 40%;
  }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}