body{
  background-color: #6A1605;
  }
.levelOneBeginModal {
    display: none;
    position: absolute; 
    margin-left: 0%;
    border-radius: 40px;
    width: 900px; 
    height:300px;
    
  }
  .level1-begin-modal-content{
    background-color: #fefefe;
    margin: 11% auto;
    margin-left: 30%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    box-shadow: 5px 10px 8px rgb(26, 24, 24);
  }
  .levelOneWinModal {
    display: none;
    position: absolute; 
    margin-left: 0%;
    border-radius: 40px;
    width: 900px; 
    height:300px;
    
  }
  .level1-win-modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    margin-left: 30%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    box-shadow: 5px 10px 8px rgb(26, 24, 24);
  }
  button{
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    background-color: #6A1605;
    color: white;
    transition: all 0.2s;

  }
  button:hover{
    background-color:rgb(233, 200, 17);
    color: black;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);

  }
  #m{
    width: 100px;
  }
  #a{
    width: 150px;
    margin-right: 1%;
  }
  #add{
    width: 100px;
    margin-right: 1%;
  }
  #ban{
    width: 100px;
    margin-right: 1%;
  }
  #lev{
    width: 100px;
    margin-right: 1%;
  }
  #eq{
    width: 100px;
    margin-right: 1%;
  }